@model IEnumerable<ShoppingKart.Models.Product>

@{
    ViewBag.Title = "Welcome";
   // ViewBag.Title = "pagenation";
    var Next = ViewBag.Currpage + 1;
    var Prev = ViewBag.Currpage - 1;
}
@*<style type="text/css">
    body {
        background: #bda5a5 !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
@*<h2>Welcome</h2> &nbsp;<strong> @ViewBag.UserId</strong>*@

<div class="container-fluid">
    <div class="row" style="padding-top:3em">
        <div class="col-sm-12" style="text-align:center">
            <form method="post">
                <div class="form-group">
                    @*<input name="Checkout" type="submit" value="View Cart" />*@
                </div>

            </form>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-sm-1" style="padding-top:2em">

        </div>
        <div class="col-sm-10" style="padding-top:4em">
            <form method="post">

                <table class="table">
                    <tr class="danger">
                        <th>

                            @Html.DisplayNameFor(model => model.Picture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            <strong>Quantity</strong>
                        </th>
                        <th>
                            <strong>Add to cart</strong>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="img-responsive img-thumbnail" src="~/Content/thumbnails/@item.Picture">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <input name="Qty+@item.Product_ID" type="text" value="1" />
                            </td>
                            <td>    
                                <button type="submit" class="btn btn-outline-secondary" style="background-color:skyblue" name="Checkout" value="@item.Product_ID">Add to Cart</button>
                            </td>



                        </tr>
                    }


                </table>

            </form>
        </div>
        <div class="col-sm-1" style="padding-top:2em">

        </div>
    </div>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
                @{
                    if (ViewBag.Currpage == ViewBag.Start)
                    {
                        <li class="page-item">
                            <a href="~/home/index/@Next"> >> </a>
                        </li>
                        <li class="page-item">
                            <a href="~/home/index/@ViewBag.End"> Last</a>
                        </li>

                    }
                    else if (ViewBag.Currpage == ViewBag.End)
                    {
                        <li class="page-item">
                            <a href="~/home/index/@ViewBag.Start"> First</a>
                        </li>
                        <li class="page-item">
                            <a href="~/home/index/@Prev"> << </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a href="~/home/index/@ViewBag.Start"> First</a>
                        </li>
                        <li class="page-item">
                            <a href="~/home/index/@Prev"> << </a>
                        </li>
                          
                        <li class="page-item">
                            <a href="~/home/index/@Next"> >> </a>
                        </li>
                            
                        <li class="page-item">
                            <a href="~/home/index/@ViewBag.End"> Last</a>
                        </li>
                    }
                }

    </ul>
</nav>

@*<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>*@